<mat-sidenav-container>
    <mat-sidenav #sidenav fixedInViewport [mode]="'side'">
        <mat-nav-list>
            <a mat-list-item [routerLink]= "['actuators']" role="navigation">Actuators</a>
            <a mat-list-item [routerLink]="['graphs']" role="navigation">Graphs</a>
            <a mat-list-item [routerLink]="['dashboard']" role="navigation">My Actuators</a>
            <a mat-list-item [routerLink]="['groups']" role="navigation">Groups</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-icon-button>
                    <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
